:root {
  --primary-color: #000F1A;
  --primary-color-end: #004A80;
  --secondary-color: #FFCC99;
  --secondary-color-darker: #6C5641;
  --footer-color: #001E34;
  --negative: #BC4749;
  --font-color-dark: black;
  --font-color-white: #FFF;
  --bg-opacity: 0.1;
  --footer-opacity: 1;
}


[data-theme="purple"] {
  --primary-color: #000F1A;
  --primary-color-end: #251539;
  --footer-color: #0C1226;
}

[data-theme="black"] {
  --primary-color: #000000;
  --primary-color-end: #444444;
  --secondary-color: white;
  --secondary-color-darker: rgb(87, 87, 87);
  --footer-color: #1e1b1b;
  --negative: rgb(139, 54, 56);

  --font-color-dark: black;
  --font-color-white: #FFF;
}

[data-theme="peach"] {
  --primary-color: #ff5858;
  --primary-color-end: #ffc8c8;
  --secondary-color: #F7FFE0;
  --secondary-color-darker: #636659;;
  --footer-color: #fc6363;
  --font-color-dark: black;
  --font-color-white: black;
  --bg-opacity: 0.5;
  --footer-opacity: 0.5;
}
[data-theme="peach"] .plus, [data-theme="peach"] .minus, [data-theme="peach"] .label{
  text-shadow: none !important;
}

[data-theme="red"] {
  --primary-color: #c60721;
  --primary-color-end: #000000;
  --footer-color: #000000;
  --secondary-color: #F5A65B;
}
[data-theme="rainbow"] {
  --footer-color: magenta;
  --secondary-color: pink;

  background: linear-gradient(in hsl longer hue 45deg, red 0 0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html{
  background: linear-gradient(var(--primary-color), var(--primary-color-end));
  min-height: 100%;
  overflow-x: hidden;
  position:relative;
  font-family: "Readex Pro", sans-serif;
}
html:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url('textured-paper.png') repeat;
  opacity: var(--bg-opacity);
}
footer:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('fake-brick.png');
  background-repeat: repeat;
  background-size: 15%;
  opacity: var(--footer-opacity);
}
p{
  color:var(--font-color-white);
}
body
{
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
}
html{overscroll-behavior-y: contain;}

.swal2-cancel{
  background-color: var(--secondary-color) !important;
  color:var(--font-color-dark) !important;
}
.swal2-confirm{
  background-color: #444444 !important;
}